.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center; /* см. ниже */
	align-items: center;
	z-index: 99;
	padding: 30px 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;

	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
}
.modal.active {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
.modal input {
	padding: 12px 16px;
	width: 320px;

	font-size: 16px;
	color: #fff;

	background: #333a45;
	border: none;
	border-radius: 8px;

	outline: none;
	transition:
		border-color 0.2s ease,
		box-shadow 0.2s ease;
}
.btn {
	margin: 10px;
	padding: 13px 18px;
	border-radius: 8px;
	background: #333a45;
	border: none;
}
